{% extends "layout.html" %}
{% block body %}
<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">It only took 7 days</h2>
                <h3 class="section-subheading text-muted">How we made it happen.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/small-team.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Small Teams</h4>
                                <h4 class="subheading">Big Results</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We organized ourselves in small teams of 2 or 3, totalling 30 volunteers. Each team was assigned a geographical zone to spot and report illegal dumping sites.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/trashout-app.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Leveraging Reusability</h4>
                                <h4 class="subheading">The TrashOut App</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">No need to re-invent the wheel when we can re-use proven data collection solutions. TrashOut is an already existing world initiative to locate and report all illegal dumps.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/old-school.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Don't Fear The Analog</h4>
                                <h4 class="subheading">Old School</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">When the TrashOut app wasn't compatible with some of our smartphones, we simply collected data the old school way; with clipboards, printed maps, and pens.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/cabrati.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Reusing Open Data</h4>
                                <h4 class="subheading">The More the Merrier</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The municipality's waste management company had recently opened data on its garbage truck routes so we incorporated those as well.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/heatmap.png') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Rapid Prototyping</h4>
                                <h4 class="subheading">From Data to Insight</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We played with the data as soon as it was colleced; engaging the local tech community into experimenting with neat visualizations.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>It's time
                                <br>to clean
                                <br>Gjakova!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}