{% extends "layout.html" %}
{% block body %}
<!-- leaflets CSS -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='leaflet.fullscreen-1.1.4/Control.FullScreen.css') }}" />

<!-- leaflets JS -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{{ url_for('static', filename='leaflet.fullscreen-1.1.4/Control.FullScreen.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet-heat.js') }}"></script>

<script src="{{ url_for('static', filename='dumps.js') }}"></script>


<script>
  var map = undefined;

  var routeLayerGroups = {
    'ford-03-462-ck': {
      'layergroup': undefined,
      'color': 'green'
    },
    'hunday-ku-03724dp': {
      'layergroup': undefined,
      'color': 'red'
    },
    'hunday-qe-03679dp': {
      'layergroup': undefined,
      'color': 'blue'
    },
    'hunday-shp-03682dp': {
      'layergroup': undefined,
      'color': 'yellow'
    },
    'hyundai-m-thaqi': {
      'layergroup': undefined,
      'color': 'magenta'
    },
    'iveco-03804am': {
      'layergroup': undefined,
      'color': 'black'
    },
    'iveco-a-shala': {
      'layergroup': undefined,
      'color': 'brown'
    },
    'iveco': {
      'layergroup': undefined,
      'color': 'grey'
    },
    'man-kalter-03817ce': {
      'layergroup': undefined,
      'color': 'tomato'
    },
    'merc-fek-03584cl': {
      'layergroup': undefined,
      'color': 'thistle'
    },
    'merc-kalt-03-802-am': {
      'layergroup': undefined,
      'color': 'turquoise'
    },
    'merc-kombi-03849ae': {
      'layergroup': undefined,
      'color': 'wheat'
    },
    'merc-port-03801am': {
      'layergroup': undefined,
      'color': 'plum'
    },

  };

  var dumpMarkersLayerGroup = undefined;
  var heatLayerGroup = undefined;




  $(document).ready(function(){
    
    map = L.map('map').setView([42.381790, 20.428734], 15);

    L.tileLayer('http://{s}.tiles.mapbox.com/v3/georges.jjc3k7b1/{z}/{x}/{y}.png', {
        attribution: 'Data Source: <a href="http://opendatakosovo.org">Open Data Kosovo</a>',
        maxZoom: 20
    }).addTo(map);

    // create a fullscreen button and add it to the map
    L.control.fullscreen({
      position: 'topleft', // change the position of the button can be topleft, topright, bottomright or bottomleft, defaut topleft
      title: 'Full screen', // change the title of the button, default Full Screen
      forceSeparateButton: true, // force seperate button to detach from zoom buttons, default false
      forcePseudoFullscreen: true // force use of pseudo full screen even if full screen API is available, default false
    }).addTo(map);

    toggleDumpHeatMap(true);

    $('.dump-checkbox').click(function() {
      if(this.value == "markers"){
        toggleDumpMarkers(this.checked);

      }else if(this.value == "heat"){
        toggleDumpHeatMap(this.checked);
      }
    });
    

    $('.route-checkbox').click(function() {
    	toggleTruckRoute(this.value, this.checked);
	  });

    var controlLayers = L.control.layers(routeLayerGroups).addTo(map);

  });

  function toggleDumpMarkers(display){
    var dumpMarkerArray = [];

    if(display == false && dumpMarkersLayerGroup != undefined){
        map.removeLayer(dumpMarkersLayerGroup);

    }else{

      $(dumps).each(function( idx, dump ) {

        daysSinceReported = (new Date().getTime() - dump["trashTime"]["savedTime"]) / (1000*60*60*24);

        // Only report trash reported x days from now
        if(daysSinceReported < 100){

          lat = dump["location"]["lat"];
          lng = dump["location"]["lon"];

          var marker = L.marker([lat, lng]);
          dumpMarkerArray.push(marker);
        }
      });

      dumpMarkersLayerGroup = L.layerGroup(dumpMarkerArray);
      map.addLayer(dumpMarkersLayerGroup);
    }
  }

  function toggleDumpHeatMap(display){
    var heatPoints = [];

    if(display == false && heatLayerGroup != undefined){
        map.removeLayer(heatLayerGroup);
    }else{

      $(dumps).each(function( idx, dump ) {

        daysSinceReported = (new Date().getTime() - dump["trashTime"]["savedTime"]) / (1000*60*60*24);

        // Only report trash reported x days from now
        if(daysSinceReported < 100){
          lat = dump["location"]["lat"];
          lng = dump["location"]["lon"];

          var heatLatLng = new L.LatLng(lat, lng);
          heatPoints.push(heatLatLng);
        }
      });

      var options = {
        'minOpacity': 0.1,
        'max': 0.2,
        'radius': 20,
        'blur': 15
      }

      heatLayerGroup = L.heatLayer(heatPoints, options)
      map.addLayer(heatLayerGroup);
    }
  }

  function toggleTruckHeatMap(){

      

  }

  function toggleTruckRoute(route_slug, display){
    // Reset marker array
    var routeCoordinates = [];

    if(display == false && routeLayerGroups[route_slug]['layergroup'] != undefined){
        map.removeLayer(routeLayerGroups[route_slug]['layergroup']);
    }else{
    	$.get( "{{ url_for('api.route', route_slug='') }}" + route_slug, function( points ) {
	      	$(points).each(function( idx, point ) {

		        var pointLatLng = new L.LatLng(point.lat, point.lng);

		        routeCoordinates.push(pointLatLng);
			    });

    			var routePolyline = new L.Polyline(routeCoordinates, {
    				color: routeLayerGroups[route_slug]['color'],
    				weight: 3,
    				opacity: 0.5,
    				smoothFactor: 1
    			});

    			routeLayerGroups[route_slug]['layergroup'] = routePolyline;
    	    map.addLayer(routeLayerGroups[route_slug]['layergroup']);
    	});
    }
  }



</script>

<div style="padding-top:100px;">
  <div id="map" style="height:600px;">
  </div>
</div>


<div align="center" style="padding-bottom:100px">
  <table>
    <tr>
      <td style="padding-right:10px;">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="heat" class="dump-checkbox" checked>
              Dump Heatmap
            </input>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="markers" class="dump-checkbox">
              Dump Markers
            </input>
          </label>
        </div>
      </td>
      <td style="padding-left:10px;"> 
        <div class="checkbox">
          <label>
            <input type="checkbox" value="ford-03-462-ck" class="route-checkbox">
              ford-03-462-ck
            </input>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="hunday-ku-03724dp" class="route-checkbox">
              hunday-ku-03724dp
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="hunday-qe-03679dp" class="route-checkbox">
              hunday-qe-03679dp
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="hunday-shp-03682dp" class="route-checkbox">
              hunday-shp-03682dp
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="hyundai-m-thaqi" class="route-checkbox">
              hyundai-m-thaqi
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="iveco-03804am" class="route-checkbox">
              iveco-03804am
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="iveco-a-shala" class="route-checkbox">
              iveco-a-shala
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="iveco" class="route-checkbox">
              iveco
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="man-kalter-03817ce" class="route-checkbox">
              man-kalter-03817ce
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="merc-fek-03584cl" class="route-checkbox">
              merc-fek-03584cl
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="merc-kalt-03-802-am" class="route-checkbox">
              merc-kalt-03-802-am
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="merc-kombi-03849ae" class="route-checkbox">
              merc-kombi-03849ae
            </input>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="merc-port-03801am" class="route-checkbox">
              merc-port-03801am
            </input>
          </label>
        </div>
      </td>
    </tr>
  </table>
</div>



{% endblock %}