{% extends "layout.html" %}
{% block body %}
<!-- leaflets CSS -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='leaflet.fullscreen-1.1.4/Control.FullScreen.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='map-controls/map-controls.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='waitMe/waitMe.min.css') }}" />

<!-- leaflets JS -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{{ url_for('static', filename='leaflet.fullscreen-1.1.4/Control.FullScreen.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet-heat.js') }}"></script>
<script src="{{ url_for('static', filename='map-controls/map-controls.js') }}"></script>
<script src="{{ url_for('static', filename='waitMe/waitMe.min.js') }}"></script>

<script src="{{ url_for('static', filename='dumps.js') }}"></script>

{# All our routes: id, name, polyline colour, display #}
{%
  set routes = [
    ['ford-03-462-ck','Ford 03-462 CK','green', True],
    ['hunday-ku-03724dp','Hyundai 03-724 DP','yellow', False],
    ['hunday-qe-03679dp','Hyundai 03-679 DP','red', True],
    ['hunday-shp-03682dp','Hyundai 03-682 DP','blue', True],
    ['hyundai-m-thaqi','Hyundai M. Thaqi','magenta', True],
    ['iveco-03804am','Iveco 03-804 AM','black', True],
    ['iveco-a-shala','Iveco A. Shala','brown', True],
    ['iveco','Iveco','grey', True],
    ['man-kalter-03817ce','Man Kalter 03-817 CE','tomato', True],
    ['merc-fek-03584cl','Mercedes Fek 03-584 CL','thistle', False],
    ['merc-kalt-03-802-am','Mercedes Kalt 03-802 AM','deeppink ', True],
    ['merc-kombi-03849ae','Mercedes Kombi 03-849 AE','indianred', True],
    ['merc-port-03801am','Mercedes Port 03-801 AM','magenta ', True]
  ]
%}

<script>
  var map = undefined;

  var routeLayerGroups = {
    {% for route in routes %}
    '{{ route[0] }}': {
      'layergroup': {
        'route': undefined,
        'heat': undefined
      },
      'color': '{{ route[2] }}',
      'cached': false
    },
    {% endfor %}
  };

  var dumpMarkersLayerGroup = undefined;
  var heatLayerGroup = undefined;

  $(document).ready(function(){
    map = L.map('map', {zoomControl: false}).setView([42.381790, 20.428734], 15);

    L.tileLayer('http://{s}.tiles.mapbox.com/v3/georges.jjc3k7b1/{z}/{x}/{y}.png', {
        attribution: 'Data Source: <a href="http://opendatakosovo.org">Open Data Kosovo</a>',
        maxZoom: 20
    }).addTo(map);

    new L.Control.Zoom({ position: 'topright' }).addTo(map);

    // create a fullscreen button and add it to the map
    L.control.fullscreen({
      position: 'topright', // change the position of the button can be topleft, topright, bottomright or bottomleft, defaut topleft
      title: 'Full screen', // change the title of the button, default Full Screen
      forceSeparateButton: true, // force seperate button to detach from zoom buttons, default false
      forcePseudoFullscreen: true // force use of pseudo full screen even if full screen API is available, default false
    }).addTo(map);

    toggleDumpHeatMap(true);


  });

  function toggleDumpMarkers(display){
    
    if(display == false && dumpMarkersLayerGroup != undefined){
        map.removeLayer(dumpMarkersLayerGroup);

    }else if(dumpMarkersLayerGroup == undefined){
        // First time building this layer, let's do it
        var dumpMarkerArray = [];

        $(dumps).each(function( idx, dump ) {

          daysSinceReported = (new Date().getTime() - dump["trashTime"]["savedTime"]) / (1000*60*60*24);

          // Only report trash reported x days from now
          if(daysSinceReported < 100){

            lat = dump["location"]["lat"];
            lng = dump["location"]["lon"];

            var marker = L.marker([lat, lng]);
            dumpMarkerArray.push(marker);
          }
        });

        dumpMarkersLayerGroup = L.layerGroup(dumpMarkerArray);
        map.addLayer(dumpMarkersLayerGroup);

    }else{
      // Layer was already previously built, just re-add it.
      map.addLayer(dumpMarkersLayerGroup);
    }
    

    
  }

  function toggleDumpHeatMap(display){
    var heatPoints = [];

    if(display == false && heatLayerGroup != undefined){
        map.removeLayer(heatLayerGroup);
    }else{

      $(dumps).each(function( idx, dump ) {

        daysSinceReported = (new Date().getTime() - dump["trashTime"]["savedTime"]) / (1000*60*60*24);

        // Only report trash reported x days from now
        if(daysSinceReported < 100){
          lat = dump["location"]["lat"];
          lng = dump["location"]["lon"];

          var heatLatLng = new L.LatLng(lat, lng);
          heatPoints.push(heatLatLng);
        }
      });

      var options = {
        'minOpacity': 0.1,
        'max': 0.2,
        'radius': 20,
        'blur': 15
      }

      heatLayerGroup = L.heatLayer(heatPoints, options)
      map.addLayer(heatLayerGroup);
    }
  }

  function toggleTruckRoute(routeSlug, display, mapType){

    if(display == false && routeLayerGroups[routeSlug]['layergroup'][mapType] != undefined){
        map.removeLayer(routeLayerGroups[routeSlug]['layergroup'][mapType]);
    }else{

      // This request for route coordinates hasn't been done before, do it now.
      if(routeLayerGroups[routeSlug]['cached'] == false){
        // Get route data points, build layer, and display it.
        getAndDisplayTruckRouteData(routeSlug, mapType);

      }
      // We have the points/data, it was retrieved when building either the route polyline or route heatmap layer.
      // But now, we are builing the layer we didn't build before, so we still have to build a layer.
      // e.g. First request was for polyline route for truck, got the data and built that layer.
      //      But now the second request is for the heat route for the same truck, got the data but didn't build that layer yet.
      else if(routeLayerGroups[routeSlug]['layergroup'][mapType] == undefined){
        if(mapType == 'route'){
          buildTruckRoutePolylineLayer(routeSlug, routeLayerGroups[routeSlug]['data']);
        }else if(mapType == 'heat'){
          buildTruckRouteHeatLayer(routeSlug, routeLayerGroups[routeSlug]['data']);
        }
      }else{
        // This request for route coordinates has been done before.
        // This means that this route layer has already been built.
        // Retrieve the layer from client-side javascript cache
        map.addLayer(routeLayerGroups[routeSlug]['layergroup'][mapType]);
      }
    }
  }

  function getAndDisplayTruckRouteData(routeSlug, mapType){
    toggleSpinner(true);

    $.get( "{{ url_for('api.route', route_slug='') }}" + routeSlug, function( points ) {

          // Save coordinates for future call.
          // This is so that we don't have to make a request to the server every time.
          // A form of client-side javascript caching.
          // (Maybe it would be better to just "hide" the layer after it is built instead of removing it?)
          routeLayerGroups[routeSlug]['data'] = points;
          routeLayerGroups[routeSlug]['cached'] = true;

    }).done(function() {
        // Build the route layer.
        if(mapType == 'route'){
          buildTruckRoutePolylineLayer(routeSlug, routeLayerGroups[routeSlug]['data']);
        }else if(mapType == 'heat'){
          buildTruckRouteHeatLayer(routeSlug, routeLayerGroups[routeSlug]['data']);
        }

        toggleSpinner(false);   
    });
  }

  function buildTruckRoutePolylineLayer(route_slug, points){

    // Build route polyline layer
    var routeCoordinates = [];

    $(points).each(function( idx, point ) {
      var pointLatLng = new L.LatLng(point.lat, point.lng);
      routeCoordinates.push(pointLatLng);
    });

    var routePolyline = new L.Polyline(routeCoordinates, {
      color: routeLayerGroups[route_slug]['color'],
      weight: 3,
      opacity: 0.5,
      smoothFactor: 1
    });

    routeLayerGroups[route_slug]['layergroup']['route'] = routePolyline;
    map.addLayer(routeLayerGroups[route_slug]['layergroup']['route']);
  }

  function buildTruckRouteHeatLayer(route_slug, points){

    // Build route heat map layer
    var routeCoordinates = [];

    $(points).each(function( idx, point ) {
      var pointLatLng = new L.LatLng(point.lat, point.lng);
      routeCoordinates.push(pointLatLng);
    });

    var options = {
      'minOpacity': 0.1,
      'max': 0.2,
      'radius': 10,
      'blur': 15,
      'gradient': {0.29: 'blue', 0: 'purple', 0.9: 'green'}
    }

    routeLayerGroups[route_slug]['layergroup']['heat'] = L.heatLayer(routeCoordinates, options)
    map.addLayer(routeLayerGroups[route_slug]['layergroup']['heat']);
  }

  function toggleSpinner(display){
    if(display == true){
      $('body').waitMe({
        //none, rotateplane, stretch, orbit, roundBounce, win8, 
        //win8_linear, ios, facebook, rotation, timer, pulse, 
        //progressBar, bouncePulse or img
        effect: 'stretch',
        text: '', //place text under the effect (string).
        bg: 'rgba(255,255,255,0.7)', //background for container (string).
        color: '#000', //color for background animation and text (string).
        sizeW: '', //change width for elem animation (string).
        sizeH: '', //change height for elem animation (string).
        // url to image
        source: 'http://4206e9.medialib.glogster.com/media/0de16589e28c077f3ed220e39400774bac8f7465c318d7fe4cc8e9ce8756e1af/animated-gifs-eagles-6.gif'
      });
    }else{
      $('body').waitMe('hide');
    }
  } 



</script>

<!-- body has the class "cbp-spmenu-push" -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <ul>
    <li id="menuTitle" class="cbp-spmenu-title"><b>Map Controls<b>
      <span id="showLeft" class="showLeft">&laquo;<span>
    </li>
    <li class="cbp-spmenu-vertical-item-parent" id="dumps">Illegal Dumps</li>
    <li class="cbp-spmenu-vertical-item-child" id="dumps">
      <input type="checkbox" id="markers" name="cc" value="markers" class="dump-checkbox" />
      <label for="markers"><span></span>Markers</label>
      <br>
      <input type="checkbox" id="heat" name="cc" value="heat" class="dump-checkbox" checked />
      <label for="heat"><span></span>Heat Map</label>
    </li>

    {% for route in routes %}
      {% if route[3] %}
      <li class="cbp-spmenu-vertical-item-parent" id="{{ route[0] }}">
        {{ route[1] }}
      </li>
      <li class="cbp-spmenu-vertical-item-child"  id="{{ route[0] }}" style="display:none;">
        <input type="checkbox" id="{{ route[0] }}-route" name="{{ route[0] }}" value="{{ route[0] }}" class="route-checkbox"/>
        <label for="{{ route[0] }}-route"><span></span>Route</label>
        <br>
        <input type="checkbox" id="{{ route[0] }}-heat" name="cc" value="{{ route[0] }}" class="route-heat-checkbox" />
        <label for="{{ route[0] }}-heat"><span></span>Heat Map</label>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<div class="map-container">
  <div id="map" style="height:100%;">
  </div>
</div>

{% endblock %}