{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='data/aggregations.js') }}"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
 
<script>
    $(document).ready(function() {
        drawPieChart();
        $('#filter').change(function() {
          // Every time we select a new group, let's redraw the chart.
          drawPieChart();
        });
    });
    function drawPieChart(){
        var keyfilter = $('#filter').val();
        var typeAgg = aggregation[keyfilter];
        var data = [];

        $.each(typeAgg, function(idx, itm){
            data[idx] = [itm['type'], itm['count']];
        });

        $('#piechart').highcharts({
            chart: {
                backgroundColor:'rgba(255, 255, 255, 0.1)',
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '<b>{point.y} ({point.percentage:.1f}%)</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: ({point.percentage:.1f} %)',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '',
                data: data
            }]
        });
    }
</script>

</script>
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Look at the Numbers</h2>
                <h3 class="section-subheading text-muted">
                	Involved <strong>30</strong> young members of the local community.
                	<br><br>
                	Reported a total of <strong>686</strong> illegal dumping sites.
                </h3>
            </div>
        </div>

        <div class="row col-xs-offset-1">
            <div class="col-xs-offset-4 col-xs-3 text-center">
                <select id="filter" class="form-control">
                    <option value="sizes">Trash Size</option>
                    <option value="types">Trash Type</option>
                </select>
            </div>
        </div>
        <div class="row">
        <br></br><br>
        	<div class="col-lg-12 text-center">
        		<div id="piechart" style="min-width: 600px; height: 450px; max-width: 600px; margin: 0 auto"></div>
        	</div>
        </div>
    </div>
</section>
{% endblock %}