{% extends "layout.html" %}
{% block body %}

<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Call for Action</h2>
                <h3 class="section-subheading text-muted">Video production by our talented volunteers.</h3>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-12 text-center">
        		<iframe width="760" height="515" src="https://www.youtube.com/embed/tcFRGCZj0OM?cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
        	</div>
        </div>
    </div>
</section>

{% endblock %}